.game-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

.game-container-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.game-answer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-answer {
  background: white;
  border: 1px solid white;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 64px;
  letter-spacing: 0.12em;
  line-height: 150%;
  width: 519px;
}

.green-border {
  border-color: green;
  box-shadow: 1px 4px 13px 2px rgba(125, 216, 14, 0.758);
}

.red-border {
  border-color: red;
  box-shadow: 1px 4px 13px 2px rgba(216, 38, 14, 0.62);
}

.game-button {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-left: -520px;
  margin-top: 400px;
  width: 519px;
}

.game-question-container {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 286px;
  justify-content: space-around;
  width: 439px;
}

.game-question-category {
  align-items: center;
  background: #00d5e2;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 45px;
  justify-content: center;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-top: -300px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 413px;
}

.game-question-text {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 60px;
  text-align: center;
}

.timer {
  color: #ea5d5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 150%;
}

@media screen and ( max-width : 1300px ) {

  .game-container-content {
    flex-direction: column;
  }

  .game-answer-container {
    margin-top: -20px;
  }

  .game-answer {
    height: 54px;
    margin-right: 10px;
  }

  .game-button {
    height: 40px;
    margin-bottom: 40px;
    margin-top: 680px;

  }
}

@media screen and ( max-width : 550px ) {

  .game-answer {
    height: 54px;
    margin-right: 10px;
    width: 380px;
  }

  .game-button {
    height: 35px;
    margin-bottom: 40px;
    margin-left: -390px;
    margin-top: 680px;
    width: 380px;
  }

  .game-question-container {

    /* margin-right: px; */
    width: 349px;
  }

  .game-answer-container {
    margin-top: -20px;
  }

  .game-question-category {
    width: 323px;
  }
}

@media screen and ( max-width : 420px ) {

  .game-answer {
    height: 54px;
    margin-right: 10px;
    width: 350px;
  }

  .game-button {
    height: 45px;
    margin-bottom: 40px;
    margin-left: -360px;
    width: 350px;
  }
}
