.ranking-container {
  align-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 150px;
  margin-top: 200px;
  min-height: 488px;
  padding: 40px;

  /* padding-top: 100px; */
  width: 489px;
}

.ranking-title {
  color: #3c1b7a;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.li-card-ranking {
  align-items: center;
  background: #ebebeb;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;

  /* padding: 5px; */
}

.li-card-ranking-image {
  border-radius: 50%;
  height: 37px;
  width: 37px;
}

.li-card-ranking-container {
  align-items: center;
  display: flex;
  gap: 5px;
  margin-left: 5px;
}

.li-card-ranking-score {
  align-items: center;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 55px;
  justify-content: center;
  text-align: center;
  width: 184px;
}

.ranking-button {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-top: 10px;
  text-transform: uppercase;
  width: 386px;
}

/* .ranking-logo {
  margin-left: -30px;
  margin-top: -700px;
  position: absolute;
} */

@media screen and ( max-width : 821px ) {

  .ranking-container {
    margin-bottom: 400px;
    margin-top: 300px;
  }
}


@media screen and ( max-width : 530px ) {

  .ranking-container {
    margin-bottom: 310px;
    margin-top: 100px;
    width: 339px;
  }

  .ranking-button {
    width: 266px;
  }

  .li-card-ranking-score {
    width: 150px;
  }
}
